#container1 {
  width: 50px;
  height: 50px;
  position: relative;
  background: white;
}
#animate1 {
  display: block;
	width: 50px;
	height: 50px;
	border-bottom : 25px solid #06A8FF;
	border-right: 25px solid #06A8FF;
	position:absolute;
	
}